html {
  background: black;
  color: red;
}

#board {
  width:300px;
  height:300px;
  margin: 0 auto;
}

#board td {
  text-align: center;
  border: 1px solid;
  width: 33.333%;
  height: 33.333%;
  font-size: 30px;
}
.red {
  background-color:red;
}

